/* Using https://colorhunt.co/palette/273466 color palette */

/* General CSS */
body {
  margin: 0;
  background-color: #d8e3e7;
  color: #132c33;
  font-family: "Roboto-medium", sans-serif;
}

section {
  margin-top: 90px;
}

/* Navbar */
.navbar {
  background-color: #51c4d3;
}

.nav-item {
  padding: 0 1rem;
}

.nav-link {
  font-size: 1.25rem;
  font-weight: bolder;
  color: #126e82;
}

.navbar .navbar-nav>li>a:hover, .navbar .navbar-nav>li>a:focus {
  color: #132c33;
}

/* Home */
.home {
  text-align: center;
  font-size: 1.5rem;
}

.floating-left-image {
  max-width: 18rem;
}

.title {
  font-size: 5.5rem;
  font-family: "Permanent Marker", cursive;
}

.floating-right-image {
  max-width: 24rem;
  transform: rotate(25deg);
}

.title-image {
  max-width: 67.35rem;
  padding-top: 0.5%;
}

/* About */

/* Skills */
.chart-container {
  width: 320px;
  margin: auto;
}

.chart {
    transform: rotate(90deg);
}

.skill-label {
  position: relative;
  left: 10.2rem;
  font-size: 0.8rem;
  width: 160px;
}

.four-skills-label{
  top:-7.4rem;
}

.three-skills-label{
  top:-5rem;
}

.skill-label-four{
  color: #72147e
}

.skill-label-three{
  color: #f21170
}

.skill-label-two{
  color: #fa9905
}

.skill-label-one{
  color: #ff5200
}
/* Tablets */
@media (max-width:970px) and (min-width:768px){
  :root{
    font-size: 75%
  }
}

/* Mobile */
@media (max-width:768px) {
  .home-floating-image{
    display: none;
  }
}
