/* Using https://colorhunt.co/palette/273466 color palette */

body{
  margin: 0;
  background-color: #d8e3e7;
  font-family: "Roboto-medium", sans-serif;
  color: #132c33;
}

section{
  margin-top: 5.5%;
}

/* Classes */
.navbar{
  background-color: #51c4d3;
}

.nav-item{
  padding: 0 1rem;
}

.nav-link{
  font-size: 1.25rem;
  font-weight: bolder;
  color: #126e82;
}

.navbar .navbar-nav > li > a:hover, .navbar .navbar-nav > li > a:focus {
  color: #132c33;
}

.floating-left-image{
  max-width: 18rem;
}

.name{
  font-size: 5.5rem;
  font-family: "Permanent Marker", cursive;
}

.floating-right-image{
  max-width: 24rem;
  transform: rotate(25deg);
}

.title-image{
  max-width: 60%;
  height: auto;
  padding-top: 0.5%;
}

/* IDs */
#Home{
  text-align: center;
  font-size: 1.5rem;
}
